<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362996327689-iai4f2lt90pubjiat7bsfj5kupckvksp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362996327689-iai4f2lt90pubjiat7bsfj5kupckvksp</string>
	<key>API_KEY</key>
	<string>AIzaSyCEprCBre2D-haA-ukIE0KBQOrQIDpS-vw</string>
	<key>GCM_SENDER_ID</key>
	<string>362996327689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.athlePourTous</string>
	<key>PROJECT_ID</key>
	<string>athlepourtous</string>
	<key>STORAGE_BUCKET</key>
	<string>athlepourtous.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362996327689:ios:aea14318967ed72bfedfd8</string>
</dict>
</plist>